@import url("css/vars.css");
@import url("css/base.css");
@import url("css/layout.css");
@import url("css/components.css");
@import url("css/files.css");
@import url("css/processes.css");
@import url("css/monitor.css");
